body { background: #e7856f; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 47px; display: flex; }
.block-helper-0 { color: #7615de; font-size: 18px; margin-bottom: 5px; }
.block-token-1 { color: #203153; font-size: 12px; margin-bottom: 5px; }
.block-uploader-2 { color: #68363e; font-size: 17px; margin-bottom: 5px; }
.block-sms-3 { color: #56568c; font-size: 18px; margin-bottom: 5px; }
.block-cache-4 { color: #6f6c65; font-size: 14px; margin-bottom: 5px; }
.block-config-5 { color: #881a69; font-size: 14px; margin-bottom: 5px; }